h1 {
  font-size: 30px;
  margin-top: 0;
  font-family: serif;
}
p {
    font-size: 18px;
    font-family: serif;
}
.button {
  font-family: serif;
  display: inline-block;
  background-color: #d06f6e;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
}

.button:hover {
  background-color: #952c2c;
}